<h1>
How was your day today?
</h1>
<ul class="list">
	<li class="item">
		<input id="happiness-range" type="range" min="0" max="100" value="50">
	</li>
	<li class="item">
		<button id="save-btn" class="button button-block button-positive">Save</button>
	</li>
</ul>