<div class="bar bar-header bar-calm tabs">
  <a class="tab-item">
    <i class="icon ion-compose"> Log</i>
    
  </a>
  <a class="tab-item">
    <i class="icon ion-stats-bars"> Stats</i>
  </a>
</div>